@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}

a,
.hover {
  color: inherit;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

a:hover,
.hover:hover {
  opacity: 0.75;
}

.anchor {
  cursor: pointer;
}

.inner {
  width: 720px;
  margin: 0 auto;
}

#header {
  height: 128px;
  display: flex;
  align-items: center;
  font-size: 18px;
  z-index: 2;
  position: relative;
  padding-left: 116px;
}

#header .logo {
  font-weight: 600;
}

#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header li {
  display: inline;
  padding-left: 16px;
}
